{% extends "dashboard.html" %}

{% block dashboard_content %}
<h1>Leaderboard</h1>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Full Name</th>
            <th></th>
            <th></th>
            <th>Total Score</th>
        </tr>
    </thead>
    <tbody>
        {% for item in leaderboard_data %}
        <tr>
            <td>{{ item.rank }}</td>
            <td>{{ item.fname }} {{ item.lname }}</td>
            <td></td>
            <td></td>
            <td>{{ item.total_score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
