{% extends 'base.html' %}

<head>
    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}"> 
        <link href="https://fonts.googleapis.com/css2?family=Avenir&display=swap" rel="stylesheet">
    {% endblock%}
</head>

<body>
    {% block main %}
        <div class="background-container"></div>
            <a href="{{ url_for('dashboard') }}">
                <img src="{{ url_for('static', filename='images/FluentHands-white-logo.png') }}" alt="FluentHands Logo" class="logo">
            </a>
            <div class="content">
                <!-- <h4 class="heading">Enter a Course Code to Join a Class!</h4> -->
                <h4 class="heading">Enter Access Code to Get Started! •ᴗ•</h4>
                <form method="POST" id="levelForm">
                    {{ form.csrf_token }}
                    <div class="input-container">
                        {{ form.room_code(class='input-field', id="course-input", placeholder="Example: abc-dfg", autocomplete="off") }}
                    </div>
                    <div class="button-container">
                        <button id="join-class" type="submit">Join Class</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
</body>
</html>
