{% extends 'base.html' %}

<head>
    {% block css %} 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock%}
</head>

{% block main %}
<div class="signup-content">
    <div class="signup-form">
        <h2 class="form-title">Create Account</h2>

        <form method="POST" class="register-form" id="register-form">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="fname"><i class="fa-solid fa-user"></i></label>
                {{ form.fname(class='input-field', placeholder="FirstName", autocomplete="given-name") }}
            </div>

            <div class="form-group">
                <label for="lname"><i class="fa-solid fa-user"></i></label>
                {{ form.lname(class='input-field', placeholder="LastName", autocomplete="on") }}
            </div>

            <div class="form-group">
                <label for="email"><i class="fa-solid fa-envelope"></i></label>
                {{ form.email(class='input-field', id='email', placeholder="Your Email", autocomplete="email") }}
            </div>

            <div class="form-group">
                <label for="pass"><i class="fa-solid fa-lock"></i></label>
                {{ form.password(class='input-field', id='pass', placeholder="Password", autocomplete="off") }}
            </div>
            
            <div class="form-group">
                {{ form.account_type(class="input-field user-type") }}
            </div>

            <div class="form-group form-button">
                <button type="submit" id="signup" class="form-submit">Register</button>
            </div>
        </form>
    </div>
    <div class="signup-image">
        <figure><img src="{{ url_for('static', filename='images/LoginPersons.png') }}" alt="Splash Image"></figure>
        <a href="{{ url_for('login') }}" class="signup-image-link">Been Here Before? Login to Test How Fluent Your Hands Are!</a>
    </div>
</div>
{% endblock %}

</html>